/* Variable declaration */

:root {
}

/* Border box declaration */

html {
  @maintitle box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 62.5%;
  --main-font: "";
  --color1: #222;
  --color2: ##5F5F5F;
}

/* inherit border-box on all elements in the universe and before and after */
*,
*:before,
maintit *:after {
  box-sizing: inherit;
}


.App {
  text-align: center;
  min-height: 100%;
  
  padding-bottom: 100p
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  /*font-size: 1.5em;*/
  margin-bottom: 0;
  margin-top: 0;
}

.App-intro {
  font-size: large;
}

body {
  margin: 0;
  padding: 0;
}

.well {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  border-width: 0;
  background: #222;
  border-radius: 0;
}

.input-container {
  /*position: fixed;*/
  width: 100%;
  /*top: 50vh;*/
  display: flex;
  /*align-items: center;*/
  margin-top: 1em;
  justify-content: center;
}

.input {
  max-width: 40vw;
  padding: 0;
}

.search {
/*  position: fixed;*/
  margin: 0;
  text-align: center;
  /*width: 100%;*/
  height: 5vh;
  width: 40vw;
  z-index: 2;
  font-size: 2em;
  caret-color: transparent;
  padding: 0;
}

.autocomplete {
  position: relative;
  /*bottom: -1rem;*/
  /*background: red;*/
  /*display: none;*/
  text-align: center;
  /*background: red;*/
  max-width: 50vw;
  text-overflow: clip;
}

ul {
  list-style-type: none;
  padding-left: 0;
  padding-top: 0.5rem;
  margin-bottom: 0;
  text-overflow: clip;
}

li {
  text-overflow: clip;
}

.submit-button {
  margin-left: 2rem;
  text-align: center;
  width: 20%;
  height: 5vh;
  z-index: 2;
  font-size: 1.5em;
  padding: 0;
  /*margin-top: 1rem;*/
}

.red {
  border-color: red;
}



.red-text {
  color: red;
}

.green-text {
  color: green;
}

.quote-container {
  display: grid;
  grid-template-columns: [first-col] 2fr [second-col] 1fr [third-col] 3fr [fourth-col] 1fr [fifth-col] 2fr [end];
  grid-template-rows: [first-rw] 1fr [second-rw] 1fr [third-rw] .5fr [fourth-rw] .5fr [end];

  padding: 2rem;
}

.quote-info {
  grid-column-start: first-col;
  grid-column-end: second-col;
  grid-row-start: first-rw;
  grid-row-end: third-rw;
  text-align: center;
/*  border-color: #5F5F5F;
  border-width: 1px;
  border-style: dotted;*/
  justify-content: center;
  align-items: center;
}

.quote-ticker {
  font-weight: bold;
  font-size: 4em;
  margin-top: 0rem;
  margin-bottom: 0rem;

  color: white;
}

.quote-name {
  margin-top: 0rem;
  margin-bottom: 0.5rem;


  color: white;
}

.quote-chart {
  background-color: #222;

  grid-column-start: second-col;
  grid-column-end: fifth-col;
  grid-row-start: first-rw;
  grid-row-end: third-rw;

  padding: 1rem;
}

.quote-price {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 4em;

  color: white;
}

.quote-dodchg {
  margin-top: 0rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2.5em;

}

.quote-stats {
  grid-column-start: first-col;
  grid-column-end: second-col;
  grid-row-start: third-rw;
  grid-row-end: end;

  /*background: red;*/
}

.quote-metrics {
  grid-column-start: third-col;
  grid-column-end: fourth-col;
  grid-row-start: third-rw;
  grid-row-end: end;

  /*background: grey;*/
}

.quote-mrkcap {
  margin-top: 0rem;
  margin-bottom: 1rem;
  color: white;
}

.quote-peratio {
  margin-top: 0rem;
  margin-bottom: 1rem;
  color: white;
}

.quote-news {
  grid-column-start: fifth-col;
  grid-column-end: end;
  grid-row-start: first-rw;
  grid-row-end: end;
}

.quote-news-list {
  text-align: left;
}

.quote-news-title {
  color: white;
  margin-bottom: 1rem;
}

.quote-subtitle {
  color: white;
}

.header {
  background-color: #222;
  padding: 2rem;
  color: white;
  margin-bottom: 0rem;
  margin-top: 0;
  width: 100%;
  top: 0;
}

.footer {
  top: 90vh;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 1;
}
