.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.well {
  margin-bottom: 0;
}

input.search {
  margin: 0;
  text-align: center;
  width: 75%;
  z-index: 2;
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.submit-button {
  margin-bottom: 1rem;
  /*margin-top: 1rem;*/
}