.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 2rem;
  color: white;
  margin-bottom: 0rem;
  margin-top: 0;
}

.App-title {
  /*font-size: 1.5em;*/
  margin-bottom: 0;
  margin-top: 0;
}

.App-intro {
  font-size: large;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.well {
  margin-bottom: 0;
  margin-top: 0;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  margin: 0;
  text-align: center;
  width: 50%;
  z-index: 2;
  font-size: 2em;
  margin-bottom: 1rem;
  margin-top: 1rem;
  caret-color: transparent;
}

.submit-button {
  margin-left: 1rem;
  text-align: center;
  width: 20%;
  z-index: 2;
  font-size: 1.5em;
  /*margin-top: 1rem;*/
}

.red {
  border-color: red;
}